
.inner-head-section{
    display: flex;
    justify-content: right;
    margin-top: -27px;
}
.lead-upload-input{
    border: 1px solid gray;
    padding: 4px;
    border-radius: 5px;
}
.lead-add-btn{
    padding: 9px;
    border: 1px solid gray;
    border-radius: 5PX;
    margin-left: 10px;
    cursor: pointer;
    outline: none;
}

.lead-table-section{
    overflow: overlay;
    margin-top: 70px;

}
.lead-th{
    min-width: 13.5rem
}
.lead-down-temp{
    margin-top: 20px;
    padding: 8px;
    font-size: 17px;
    border: 1px solid #d0d0d0;
    border-radius: 5px;
    color: gray;
}

.inner-head-section-1{
    /* display: flex; */
    /* justify-content: left; */
    margin-top: -27px;
}
.inner-section-1-1{
    margin-top: 50px;
    display: flex;
    gap:25px;
}
.lead-assing-drop{
    padding: 7px;
    width: 15%;
    border: 1px solid #d0d0d0;
    border-radius: 3px;
    outline: none;
    color: #595353;
}
.lead-assign-btn{
    width: 6%;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
    cursor: pointer;
    color: #595353;
    background-color: rgb(88, 255, 76);
}

.leads-pagination{
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
}