
.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .content {
    flex: 1; 
    background-color: #fff; 
    border-radius: 10px;
  }
  
  .content-container {
    padding: 20px;
  }
  .right img{
   width: 50px;
   height: 50px;
   padding: 15px;
   cursor: pointer;
  }
  .left img{
    width: 100px;
    height: 50px;
    padding: 15px;
    cursor: pointer;
  }
  .tabs {
    display: flex;
    gap: 10px;
  }
  
  .tab {
    flex: 1;
    padding: 10px 20px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 7px;
  }
  
  .tab.active {
    background-color: #4a864c;
    color: white;
  }
  
  .tab-content {
    padding-top: 40px;
    background-color: #fff;
    overflow-x: auto;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    min-width: 5.5rem;
  }

  .approvebtn{
    border: none;
    padding: 6px;
    background-color: #4a864c;
    border-radius: 5px;
    color: white;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;

  }
  .savebtn{
    border: none;
    padding: 6px;
    background-color: #4a864c;
    border-radius: 5px;
    color: white;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
  }
  .editbtn{
    border: none;
    padding: 6px;
    background-color: #4096ff;
    border-radius: 5px;
    color: white;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;

  }
  .deletebtn{
    border: none;
    padding: 6px;
    background-color: #d9363e;
    border-radius: 5px;
    color: white;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;

  }
  .cancelbtn{
    border: none;
    padding: 6px;
    background-color: #ffc107;
    border-radius: 5px;
    color: white;
    width: 40px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  /*login page css */
  .main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color:#ccc;
  }
  .main-container{
    display: flex;
    padding: 80px;
    height: 100%;
    background-image: url(/src/Images/login-bg-img.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
  }
  .left-container{
    display: flex; 
    flex: 60%;
    text-align: center;
    background-color: transparent;
    justify-content: center;
    align-items: center;
  }
  .right-container{
    display: flex;
    flex: 40%;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: rgb(2,0,36);
    background: linear-gradient(18deg, rgba(2, 0, 36, 1) 0%, rgba(25, 240, 111, 0.3) 0%, rgba(0, 206, 255, 0.3) 100%);
  }

  .input-login{
    padding: 10px;
    width: 230px;
    border-radius: 24px;
    border: none;
    margin-bottom: 10px;
    font-size: 11px;
  }
  .input-login:focus{
    outline: none;
  }
  .input-login::placeholder{
    color: rgb(170, 170, 170);
  }
  .form-div button{
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 7px;
    font-size: 11px;
    width: 70px;
    background-color: #56abff;
    cursor: pointer;
  }
  .form-div h1{
    margin-bottom: -15px;
    color: white;
  }
  .form-div p{
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 12px;
    color: white;
  }
  .Link{
    text-decoration: none;
    color: white;
  }
  @media screen and (max-width: 768px) {
    .main-container {
      flex-direction: column;
    }
  
    .left-container,
    .right-container {
      flex: 100%;
    }
  }
  
  @media screen and (max-width: 480px) {
    .input-login {
      width: 90%;
      max-width: 300px;
    }
  
    .form-div button {
      width: 100%;
    }
  }
  .logout-dropdown{
    position: fixed;
    margin-left: 12px;
    margin-top: -14px;
  }
  
  .logout-dropdown button{
    border-radius: 17px;
    border: 1px solid;
  }

  .pagination{
    padding: 25px;
    display: flex;
    justify-content: space-between;
  }
  .pagination-btn{
    padding: 10px 20px 10px 20px;
    border: 1px solid gray;
    border-radius: 10px;
    cursor: pointer;
  }
  .pagination-info{
    padding: 10px;
    font-size: 15px;
  }
